
# Ignore node_modules (DO NOT push this!)
node_modules/

# Ignore build directories
dist/
build/
.next/
out/
__pycache__/
*.pyc

# Ignore logs and temp files
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.vscode/
.idea/
.env
